---
import { QUOTE, SITE_TITLE, SECTION, SCHOOL, COURSE } from "@/consts";
import { Image } from "astro:assets";
import HeroImg from "@/hero.png";
import { QUOTE, SITE_TITLE } from "@/consts";
---
<div class="hero-bg-animate" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:0;overflow:hidden;opacity:0.015;font-size:3rem;word-wrap:break-word;user-select:none;color:#b76cff;pointer-events:none;"></div>
<section
  class="min-h-screen !z-[20] relative w-full grid grid-cols-1 sm:grid-cols-2 gap-4 items-center px-4 py-20"
  id="hero"
>
  <div class="grid place-items-center">
    <div class="text-center -mt-10">
      <h1 class="font-bold text-4xl md:text-7xl">{`<${SITE_TITLE} />`}</h1>
      <h2 class="text-2xl opacity-95">
  {QUOTE}
</h2>
<p class="text-sm opacity-40 tracking-widest mt-2">{SECTION} · {SCHOOL}</p>
<p class="text-sm opacity-40 tracking-widest">{COURSE}</p>
    </div>
  </div>
  <div class="grid place-items-center">
    <Image
      alt="Hero"
      src={HeroImg}
      width={357}
      height={358}
      quality={100}
      class="invert w-full max-w-[480px] sm:max-w-[560px]"  
    />
  </div>
</section>
<script is:inline>
  const hero_bg = document.querySelector(".hero-bg-animate");
  setInterval(() => {
    let binaryText = "";
    for (let i = 0; i < 5000; i++) {
      binaryText += Math.floor(Math.random() * 2).toString();
    }
    hero_bg.textContent = binaryText;
  }, 300);
</script>
